.Ocultar{
    display: none;
}
.Mostrar{
    display: block
}
.Cuerpo{
    display: flex;
    justify-content: center;
}

hr{
    background-color: rgb(250, 81, 81);
}

.btn{
    border-radius: 18px; 
}
span{
    margin-right: .5rem;
}