<div class="Cuerpo">
    <form class="font-weight-normal col-lg-10 sombra-border" id="formularioRgistrarCliente" style="margin-top: 1rem;">
        <div>
            <div class=" row">
                <div class="col">
                  <br>
                    <div class="card " style="border-radius: 20px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="sombra-border-titulo" style="text-align: center">
                                      <h2 class="card-title"><span class="fas fa-user"></span>Cliente.</h2>
                                    </div>
                                    <div class="row">

                                        <div class="col">
                                            <p>
                                              Identificacion:
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p>
                                                {{clienteConsuta.identificacion}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                Nombres:
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p>
                                                {{clienteConsuta.nombres}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                Apellidos:
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p>
                                                {{clienteConsuta.apellidos}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                  <div class="sombra-border-titulo" style="text-align: center">
                                    <h2 class="card-title"><span class="fas fa-truck-loading"></span>Entrega.</h2>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <p>
                                        Fecha:
                                      </p>
                                    </div>
                                    <div class="col">
                                      <p>
                                        {{pedidoSeleccionado.fecha}}
                                      </p>
                                    </div>
                                  </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                Dirección:
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p>
                                                {{clienteConsuta.direccion}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="visibility: hidden;">
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-outline-dark" style="width: 200px" type="reset" (click)="registrarPedido()">
                        <span class="fas fa-plus-circle"></span>Registrar Pedido
                    </button>
                </div>
            </div>
            <hr style="visibility: hidden;">
            <div class="table-responsive">
                <table class="table table-responsive-sm"
                    *ngIf='pedidoSeleccionado.detallesDePedidos && pedidoSeleccionado.detallesDePedidos.length'>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">codigo Producto</th>
                            <th scope="col">cantidad</th>
                            <th scope="col">Valor unitario</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Sub total</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detalle of pedidoSeleccionado.detallesDePedidos; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ detalle.codProducto }} </td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>{{ detalle.valorUnitario }}</td>
                            <td>{{ detalle.totalDescuento }}</td>
                            <td>{{ detalle.subTotal}}</td>
                            <td><button class="btn btn-outline-dark" (click)="EliminarProducto(detalle)">
                                    <span class="far fa-trash-alt"></span>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="visibility: hidden;">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-6 ">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body">
                        <div class="sombra-border-titulo" style="text-align: center">
                          <h2 class="card-title"><span class="fas fa-poll-h"></span>Totales.</h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    Total:
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    {{pedidoSeleccionado.total}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    Sub Total:
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    {{pedidoSeleccionado.subTotal}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    Porcentaje iva:
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    {{pedidoSeleccionado.iva}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    Total iva:
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    {{pedidoSeleccionado.totalIva}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </form>
</div>
