<div class="container-fluid" style="min-height: 80vh;">
  <hr style="visibility: hidden">
  <div style="text-align: center">
    <h1>¡DISTRIBUIDORA E.S.B!</h1>
  </div>
  <div class="divContainer" *ngIf="urlImagenes">
    <ngb-carousel  [showNavigationArrows]="false" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let image of urlImagenes">
        <hr style="visibility: hidden">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" height="500px" style="border-radius: 20px" >
        </div>
        <div class="carousel-caption">
          <h1>Distribuidora E.S.B</h1>
          <p>La mejor elección para tus comidas.</p>
        </div>
        <hr style="visibility: hidden">
      </ng-template>
    </ngb-carousel>
  </div>
  <hr style="visibility: hidden">
  <div  style="background-color:   rgb(73, 78, 82); border-radius: 20px;color: white">
    <hr style="visibility: hidden">
    <div style="text-align: center">
      <h1>¡Nuestros prodcutos!</h1>
    </div>
    <div class="divContainer">
      <mat-tab-group mat-align-tabs="center" style="width: 100%; min-height: 40vh">
        <mat-tab>
          <ng-template mat-tab-label >
            <h1 style="color: white">Carne de res</h1>
          </ng-template>
          <div>
            <hr style="visibility: hidden">
            <div class="row justify-content-center" style="width: 98%">
              <div  *ngFor="let producto of productosRegistrardos.carneRes; index as i" >
                <div class="col"  >
                  <mat-card class="example-card" >
                    <mat-card-header>
                      <mat-card-title>{{producto.nombre}}</mat-card-title>
                      <mat-card-subtitle>{{producto.categoria}}</mat-card-subtitle>
                      <mat-card-subtitle>Por tan solo: {{producto.valor}}kg</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="producto.ruta" alt="Photo of a Shiba Inu" style="max-height: 200px">
                    <mat-card-actions>
                      <div class="row justify-content-center">
                        <button type="button" class="btn btn-outline-danger btnMenu" (click)="ComprarProducto(producto)"
                                style="border-radius: 20px;">
                          <span class="fas fa-cart-arrow-down" style="margin-right: 0rem;"></span> comprar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
            <hr style="visibility: hidden">
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label >
            <h1 style="color: white">Carne de cerdo</h1>
          </ng-template>
          <div>
            <hr style="visibility: hidden">
            <div class="row justify-content-center" style="width: 98%">
              <div  *ngFor="let producto of productosRegistrardos.carneCerdo; index as i">
                <div class="col">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{producto.nombre}}</mat-card-title>
                      <mat-card-subtitle>{{producto.categoria}}</mat-card-subtitle>
                      <mat-card-subtitle>Por tan solo: {{producto.valor}}kg</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="producto.ruta" alt="Photo of a Shiba Inu" style="max-height: 200px">
                    <mat-card-actions >
                      <div class="row justify-content-center">
                        <button type="button" class="btn btn-outline-danger btnMenu" (click)="ComprarProducto(producto)"
                                style="border-radius: 20px;">
                          <span class="fas fa-cart-arrow-down" style="margin-right: 0rem;"></span> comprar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
            <hr style="visibility: hidden">
          </div>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label >
            <h1 style="color: white">Pollo</h1>
          </ng-template>
          <div>
            <hr style="visibility: hidden">
            <div class="row justify-content-center" style="width: 98%">
              <div  *ngFor="let producto of productosRegistrardos.pollo; index as i">
                <div class="col">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{producto.nombre}}</mat-card-title>
                      <mat-card-subtitle>{{producto.categoria}}</mat-card-subtitle>
                      <mat-card-subtitle>Por tan solo: {{producto.valor}}kg</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="producto.ruta" alt="Photo of a Shiba Inu" style="max-height: 200px">
                    <mat-card-actions>
                      <div class="row justify-content-center">
                        <button type="button" class="btn btn-outline-danger btnMenu" (click)="ComprarProducto(producto)"
                                style="border-radius: 20px;">
                          <span class="fas fa-cart-arrow-down" style="margin-right: 0rem;"></span> comprar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
            <hr style="visibility: hidden">
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <hr style="visibility: hidden">
  <div class="divContainer">
    <div class="container-fluid d-flex justify-content-center" id="QuienesSomos" style="margin-top: 4rem;">
      <div class="row">
        <form class="col-sm">
          <div class="col d-flex justify-content-center">
            <img class="mb-4" [src]="baseUrl+'imagenes/imagenesSistema/LogoNombreNegro.png'" alt="" width="400" height="400">
          </div>
        </form>
        <form class="col-sm" style="margin-left: 5rem;">
          <h1>TU CARNICERIA ONLINE</h1>
          <p style="width: 95%; font-size: 20px; text-align: justify;">
            Nuestra tienda virtual llegó para ofrecerles a todos los amantes de la buena carne un producto de
            excelente calidad. ¿Cómo lo hacemos? en primer lugar, todos nuestros cortes se someten a un proceso
            de maduración de mínimo 12 días, lo cual nos permite realzar el olor, sabor y terneza de nuestra
            carne. En segundo lugar, al ser productos que se entregan empacados al vacío, garantizamos higiene,
            y confiabilidad en nuestros procesos. En tercer lugar, no solo les entregamos los cortes porcionados
            que consumidos en el día a día, sino también, los cortes Premium que trae una res.
          </p>
          <p style="width: 95%; font-size: 20px; text-align: justify;">
            Por último y no siendo menos importante, les ofrecemos a nuestros clientes un servicio ágil y
            confiable, pues entendemos la importancia que hoy por hoy, tienen las ventas on-line y el factor
            tiempo para las familias. Bajo este panorama, es un placer para nosotros, llevarles hasta la puerta
            de sus casas un producto y servicio de calidad.
          </p>
        </form>
      </div>
    </div>
  </div>
  <hr style="visibility: hidden">
</div>
