<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <div class="row ">
                <DIV class="col d-flex  justify-content-star">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreNegro.png" alt="First slide">
                </DIV>
                <div class="col d-flex justify-content-end">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreBlanco.png" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: black;">TITULO 1</h5>
                    <p style="color: black;">Descripcion</p>
                  </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row ">
                <DIV class="col d-flex  justify-content-star">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreNegro.png" alt="First slide">
                </DIV>
                <div class="col d-flex justify-content-end">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreBlanco.png" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: black;">TITULO 2</h5>
                    <p style="color: black;">Descripcion</p>
                  </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row ">
                <DIV class="col d-flex  justify-content-star">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreNegro.png" alt="First slide">
                </DIV>
                <div class="col d-flex justify-content-end">
                    <img class="d-block" width="500" height="500" src="assets/LogoNombreBlanco.png" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: black;">TITULO 3</h5>
                    <p style="color: black;">Descripcion</p>
                  </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only" style="color: black;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"style="color: black;">Next</span>
        </a>
    </div>
    <h1 class="d-flex  justify-content-center">Distribuidora E.S.B</h1>
    <h4 class="d-flex  justify-content-center">Tienda Online</h4>

    <div class="container-fluid d-flex justify-content-center" style="margin-top: 4rem;">
        <div class="row" >
            <form class="col-sm" >
                    <div class="col d-flex justify-content-center">
                        <img class="mb-4" src="assets/LogoNombreNegro.png" alt="" width="400" height="400">
                    </div>
            </form>
            <form class="col-sm" style="margin-left: 5rem;">
                <h1>TU CARNICERIA ONLINE</h1>
                <p style="width: 95%; font-size: 20px; text-align: justify;">
                    Nuestra tienda virtual llegó para ofrecerles a todos los amantes de la buena carne un producto de excelente calidad. ¿Cómo lo hacemos? en primer lugar, todos nuestros cortes se someten a un proceso de maduración de mínimo 12 días, lo cual nos permite realzar el olor, sabor y terneza de nuestra carne. En segundo lugar, al ser productos que se entregan empacados al vacío, garantizamos higiene, y confiabilidad en nuestros procesos. En tercer lugar, no solo les entregamos los cortes porcionados que consumidos en el día a día, sino también, los cortes Premium que trae una res.
                </p>
                <p style="width: 95%; font-size: 20px; text-align: justify;">
                    Por último y no siendo menos importante, les ofrecemos a nuestros clientes un servicio ágil y confiable, pues entendemos la importancia que hoy por hoy, tienen las ventas on-line y el factor tiempo para las familias. Bajo este panorama, es un placer para nosotros, llevarles hasta la puerta de sus casas un producto y servicio de calidad.
                </p>
            </form>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div></div>
    </div>
</div>