<header style=" -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);">    

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(78, 22, 22);">
    
    <a class="" [routerLink]="['/']" >
      <img src="assets/LogoNombreBlanco.png" width="150" height="130" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/']">Quienes somos</a>
        </li>
        <li class="nav-item ">
        <a class="nav-link text-white" [routerLink]="['/']" >Nuestros cortes de res</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" [routerLink]="['/']">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-white">
          <a class="nav-link text-white" [routerLink]="['/']">Carrito</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" [routerLink]="['/Perfil']">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/Registro']">Registrar</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link text-white" [routerLink]="['/Login']">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>