<header class="Cuerpo">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:   rgb(73, 78, 82);">

    <div class=" row justify-content-center logo">
      <a class="" [routerLink]="['/']">
        <img src="assets/LogoBlanco.png" width="80" height="60" alt="" loading="lazy">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li class="nav-item">
          <a class="nav-link text-white" id="Prueba" [routerLink]="['/']"><span class="fas fa-home"></span> INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#QuienesSomos"> <span class="fas fa-hat-cowboy-side"></span>QUIENES
            SOMOS</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" href="https://wa.me/+573017120334" target="_blank"> <span class="fab fa-whatsapp"></span>CONTACTANOS</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-white">
          <a class="nav-link text-white" matTooltip="Carrito" [routerLink]="['/Carrito']" *ngIf="currentUser && currentUser.rol == 'Cliente'"><span
              class="fas fa-shopping-cart" style="padding-left: 2px"></span></a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" matTooltip="Perfil" (click)="RedirigirPerfil()"><span class="fas fa-user-circle" style="padding-left: 2px"></span></a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" matTooltip="Registrar" id="BtnRegistrar" [routerLink]="['/Registro']" *ngIf="!currentUser"><span
              class="fas fa-user-plus" style="padding-left: 2px"></span></a>
        </li>
        <li class="nav-item text-white" [routerLinkActive]="['link-active']" >
          <a class="nav-item nav-link text-white" matTooltip="Cerrar sesión" (click)="logout()" *ngIf="currentUser"> <span
            class="fas fa-sign-out-alt" style="padding-left: 2px"></span></a>
        </li>
        <li class="nav-item text-white" [routerLinkActive]="['link-active']" >
          <a class="nav-item nav-link text-white " matTooltip="Iniciar sesión" [routerLink]="['/Login']" *ngIf="!currentUser"><span
            class="fas fa-sign-in-alt" style="padding-left: 2px"></span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
