<mat-drawer-container class="example-container" style="width: 100%; min-height: 100vh">
  <mat-drawer #drawer mode="over" style="width: 300px; min-height: 100vh;background-color:   rgb(73, 78, 82);">
    <div class="TituloBarra" style="color: white">
      <h2><span class="fas fa-user"></span>Secretario</h2>
    </div>
    <hr style="visibility: hidden">
    <div class="row justify-content-center" style="width: 98%;">
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="far fa-edit spanBarra"></span> Mi info
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button class="btnbarra" style="width: 100%; " type="button" (click)="mostrar = 'EditarInfo';drawer.toggle()">
            <span class="far fa-edit spanBarra"></span> Editar info
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="fas fa-luggage-cart spanBarra"></span>Pedidos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button class="btnbarra" style="width: 100%; " type="button"
                  (click)="mostrar ='Clientes';drawer.toggle()">
            <span class="fas fa-luggage-cart spanBarra"></span>Registrar
          </button>
          <button class="btnbarra" style="width: 100%; " type="button"
                  (click)="mostrar = 'Pedidos';drawer.toggle()">
            <span class="fas fa-luggage-cart spanBarra"></span>Lista
          </button>
          <button class="btnbarra" style="width: 100%; " type="button"
                  (click)="mostrar = 'RegistrarRuta';drawer.toggle()">
            <span class="fas fa-route spanBarra"></span>Sin Ruta
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="fas fa-truck-loading spanBarra"></span>Domiciliarios
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button class="btnbarra" style="width: 100%; " type="button"
                  (click)="mostrar ='Domiciliarios'; drawer.toggle()">
            <span class="fas fa-truck-loading spanBarra"></span>Lista
          </button>
          <button class="btnbarra" style="width: 100%; " type="button"
                  (click)="mostrar ='DomiciliariosSinRutaLista'; drawer.toggle()">
            <span class="fas fa-truck-loading spanBarra"></span>Disponibles
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-drawer>
  <mat-sidenav-content style="width: 100%; min-height: 100vh; background-color: white">
    <div class="row barraTituloContenido">
      <div class="col" style="max-width: 50px;">
        <button type="button" class="btn btn-outline-danger btnMenu"
                style="border-radius: 50%;" (click)="drawer.toggle()">
          <span class="fas fa-bars" style="margin-right: 0rem;"></span>
        </button>
      </div>
      <div class="col text-center" style="margin-top: 1rem; max-width: 100%;">
        <h1>Secretario: {{secre.nombres}} {{secre.apellidos}}</h1>
      </div>
    </div>
    <br>
    <div class="contenedor" *ngIf="mostrar == 'Principal'">
      <div class="Cuerpo ">
        <div class="row col-11 d-flex justify-content-center " >
          <div class="col CuerpoCard Card" (click)="mostrar='RegistrarRuta'" >
            <div class="row" style="margin: 1rem;">
              <div class="col iconoCard">
                <div style="font-size: 2rem;">
                  <span class="fas fa-luggage-cart"></span>
                </div>
              </div>
              <div class="col d-flex justify-content-end">
                <h3>Pedidos.</h3>
              </div>
            </div>
            <hr>
            <div style="margin-bottom: .5rem;font-size: .4cm">
              Pedidos sin ruta: {{ListaPedidosSinruta.length}}
            </div>
          </div>
          <div class="col CuerpoCard Card" (click)="mostrar ='DomiciliariosSinRutaLista';">
            <div class="row" style="margin: 1rem;">
              <div class="col iconoCard">
                <div style="font-size: 2rem;">
                  <span class="fas fa-users"></span>
                </div>
              </div>
              <div class="col d-flex justify-content-end">
                <h3>Domiciliarios.</h3>
              </div>
            </div>
            <hr>
            <div style="margin-bottom: .5rem; font-size: .4cm">
              Domiciliarios disponibles: {{ListaDomiciliariosSinRuta.length}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mostrar == 'EditarInfo'">
      <div class="Cuerpo">
        <form class="col-8 font-weight-normal sombra-border  " id="formularioEditarAdministrador" style="margin-top: 1rem;">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Editar informacion</h2>
          </div>
          <br>
          <div class="col ">
            <div class="row">
              <div class="col">
                <label for="LblName">Nombre</label>
                <input type="Text" id="LblName" class="form-control" placeholder="Nombres" style="border-radius: 20px"
                       [(ngModel)]="secre.nombres" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col">
                <label for="LblApellido">Apellidos</label>
                <input type="text" id="LblApellido" name="apellidos" placeholder="Apellidos" style="border-radius: 20px"
                       class="form-control" [(ngModel)]="secre.apellidos"
                       [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="LblTelefonoAdministrador">Telefono fijo o Movil</label>
                <input type="text" id="LblTelefonoAdministrador" class="form-control" style="border-radius: 20px"
                       [(ngModel)]="secre.telefono"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col">
                <label for="LblWhatsappAdministrador">Numero Whatsapp</label>
                <input type="text" id="LblWhatsappAdministrador" name="Whatsapp" style="border-radius: 20px"
                       class="form-control" [(ngModel)]="secre.whatsapp"
                       [ngModelOptions]="{standalone: true}" />
              </div>

            </div>
            <div class="row">
              <div class="col">
                <label for="inputPassword1Administrador">Contraseña</label>
                <input type="password" id="inputPassword1Administrador" class="form-control" style="border-radius: 20px"
                       placeholder="Contraseña" required="" [(ngModel)]="contrasena"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col">
                <label for="inputPasswordAdministrador">Contraseña</label>
                <input type="password" id="inputPasswordAdministrador" class="form-control" style="border-radius: 20px"
                       placeholder="Contraseña" required="" [(ngModel)]="contrasenaConfirmar"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <hr>
          <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center">
              <button class="btn btn-outline-dark" style=" width: 50%" type="submit"
                      >
                <span class="fas fa-sync-alt"></span> Editar
              </button>
            </div>
            <div class="col d-flex justify-content-center">
              <button class="btn btn-outline-danger" style=" width: 50%" (click)="mostrar = 'Principal'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'Clientes'" >
      <div class="Cuerpo">
        <form class="col-11 font-weight-normal sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Clientes</h2>
          </div>
          <div class="row">
            <div class="col">
              <label>Filtro (identificacion, nombre, apellido).</label>
              <input class="form-control col-5" type="text" style="width: 200px; border-radius: 20px"
                     placeholder="Filtro" [(ngModel)]="filtroClientes"
                     [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                      (click)="mostrar = 'Principal'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>

          <hr style="visibility: hidden;">

          <div class="text-center" *ngIf="listaClientes.length == 0">
            <h4>¡NO HAY CLIENTES REGISTRADOS!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm"  *ngIf='listaClientes && listaClientes.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación / Nit</th>
                <th scope="col">Tipo Id</th>
                <th scope="col">Nombres </th>
                <th scope="col">Apellidos </th>
                <th scope="col">Telefono</th>
                <th scope="col">Whatsapp</th>
                <th scope="col">Direccion</th>
                <th scope="col">Horario</th>
                <th scope="col">Tipo Cliente</th>
                <th scope="col">Estado</th>
                <th scope="col">Opcion</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cliente of listaClientes|filtroCliente:filtroClientes; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cliente.identificacion }} </td>
                <td>{{ cliente.tipoId }} </td>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.whatsapp }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.horaio }}</td>
                <td>{{ cliente.tipoCliente }}</td>
                <td>{{ cliente.estado }}</td>
                <td><button class="btn btn-outline-dark"
                            (click)="mostrar='SelccionarProductosPedido'; clienteConsuta = cliente">Seleccionar</button>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="this.totalClientes" [(page)]="pageTablaClientes" [pageSize]="pageSizeTablaClientes" (pageChange)="clientes()">
              </ngb-pagination>

              <select class="custom-select" style="width: auto; border-radius: 20px" name="selectPa" [(ngModel)]="pageSizeTablaClientes" (change)="clientes()">
                <option [ngValue]="20">20 cliente por pagina</option>
                <option [ngValue]="40">40 cliente por pagina</option>
                <option [ngValue]="60">60 cliente por pagina</option>
              </select>
            </div>
            <br>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'SelccionarProductosPedido'">
      <div class="Cuerpo">
        <form class="font-weight-normal col-lg-10 sombra-border" id="SeleccionarCliente" style="margin-top: 1rem;">
          <br>
          <div>
            <div class=" row" style="padding-right: 1rem;">
              <div class="col">
                <div class="card" style="border-radius: 20px">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="sombra-border-titulo" style="text-align: center">
                          <h2 class="card-title"><span class="fas fa-user"></span>Cliente.</h2>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col">
                            <p>
                              Identificacion:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.identificacion}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Nombres:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.nombres}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Apellidos:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.apellidos}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="sombra-border-titulo" style="text-align: center">
                          <h2 class="card-title"><span
                            class="fas fa-truck-loading"></span>Entrega.</h2>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Fecha:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{pedidoGenrado.fecha}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Dirección:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.direccion}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <hr style="visibility: hidden;">

            <div class="row d-flex justify-content-center" >
              <div class="col">
                <button class="btn btn-outline-dark" data-toggle="collapse"
                        data-target="#AñadirProductoPedido" aria-expanded="false"
                        aria-controls="AñadirProductoPedido" (click)="resetearProductoSeleccionado()">
                  <span class="fas fa-search"></span> Añadir producto
                </button>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col">
                  <button class="btn btn-outline-dark" (click)="registrarPedido()">
                    <span class="fas fa-search"></span> Registrar pedido
                  </button>
                </div>
              </div>
              <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-danger" style="width: 50%" type="reset"
                        (click)="mostrar = 'Clientes'">
                  <span class="icon-arrow-left1"></span>Volver
                </button>
              </div>
            </div>

            <div class="collapse" id="AñadirProductoPedido">
              <hr style="visibility: hidden;">
              <div class="col-sm-6">
                <div class="card" style="border-radius: 20px">
                  <div class="card-body">
                    <div class="sombra-border-titulo" style="text-align: center">
                      <h2 class="card-title"><span class="fas fa-plus"></span>Producto.</h2>
                    </div>
                    <br>
                    <div style="margin-bottom: .5rem; font-size: .4cm;">
                      <div class="row">
                        <div class="col">
                          <label>Referencia:</label>
                          <input type="number" name="BuscarProducto"
                                 [(ngModel)]="codigoProducto" class="form-control" />
                        </div>
                        <div class="col">
                          <hr style="visibility: hidden;">
                          <button class="btn btn-outline-dark" (click)="BuscarProducto()">
                            <span class="fas fa-search" style="margin-right: 0rem;"></span>
                          </button>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">
                          <label>Nombre:</label>
                        </div>
                        <div class="col">
                          {{productoSeleccionado.nombre}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label>Cantidad Actual:</label>
                        </div>
                        <div class="col">
                          {{productoSeleccionado.cantidad}}
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">
                          <label>Cantidad a añadir:</label>
                          <input type="number" name="cantidad" [(ngModel)]="cantidadProducto"
                                 class="form-control" />
                        </div>
                        <div class="col">
                          <hr style="visibility: hidden;">
                          <button class="btn btn-outline-dark" (click)="AgregarProducto(); resetearProductoSeleccionado()"
                                  data-toggle="collapse" data-target="#AñadirProductoPedido"
                                  aria-expanded="false" aria-controls="AñadirProductoPedido">
                            <span class="fas fa-plus" style="margin-right: 0rem;"></span>
                          </button>
                        </div>
                      </div>
                      <hr style="visibility: hidden;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr style="visibility: hidden;">
            <div class="text-center" *ngIf="pedidoGenrado.detallesDePedidos == null">
              <h4>¡NO HA SELECCIONADO PRODUCTOS!</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-responsive-sm"
                     *ngIf='pedidoGenrado.detallesDePedidos && pedidoGenrado.detallesDePedidos.length'>
                <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">codigo Producto</th>
                  <th scope="col">cantidad</th>
                  <th scope="col">Valor unitario</th>
                  <th scope="col">Descuento</th>
                  <th scope="col">Sub total</th>
                  <th scope="col">opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let detalle of pedidoGenrado.detallesDePedidos; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ detalle.codProducto }} </td>
                  <td>{{ detalle.cantidad }}</td>
                  <td>{{ detalle.valorUnitario }}</td>
                  <td>{{ detalle.totalDescuento }}</td>
                  <td>{{ detalle.subTotal}}</td>
                  <td>
                    <button class="btn btn-outline-dark" (click)="EliminarProducto(detalle)">
                      <span class="far fa-trash-alt"></span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="row d-flex justify-content-end">
            <div class="col-sm-6 ">
              <div class="card" style="border-radius: 20px">
                <div class="card-body">
                  <div class="sombra-border-titulo" style="text-align: center">
                    <h2 class="card-title"><span class="fas fa-poll-h"></span>Totales.</h2>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p>
                        Total:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoGenrado.total}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Sub Total:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoGenrado.subTotal}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Porcentaje iva:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoGenrado.iva}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Total iva:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoGenrado.totalIva}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'Pedidos'" >
      <div class="Cuerpo">
        <form class="col-11 font-weight-normal sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Pedidos</h2>
          </div>
          <div class="row">
            <div class="col">
              <label>Filtro por codigo, fecha, identificación del cliente.</label>
              <input class="form-control col-5" type="text" style="width: 200px;border-radius: 20px" placeholder="Referencia"
                     [(ngModel)]="filtroPedidos" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                      (click)="mostrar = 'Principal'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="text-center" *ngIf="listaPedidos.length == 0">
            <h1>¡NO HAY PEDIDOS REGISTRADOS!</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm" *ngIf='listaPedidos && listaPedidos.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">Cliente</th>
                <th scope="col">fecha</th>
                <th scope="col">subTotal</th>
                <th scope="col">Iva</th>
                <th scope="col">Descuento</th>
                <th scope="col">total</th>
                <th scope="col">Estado</th>
                <th scope="col">opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pedido of listaPedidos|filtroPedido:filtroPedidos; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ pedido.codigo }} </td>
                <td>{{ pedido.idPersona }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.subTotal }}</td>
                <td>{{ pedido.iva }}</td>
                <td>{{ pedido.descuento }}</td>
                <td>{{ pedido.total }}</td>
                <th>{{ pedido.estado }}</th>
                <td><button class="btn btn-outline-dark"
                            (click)="buscarPedido(pedido.codigo);mostrar = 'Pedido'">ver</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="totalPedidos"
              [(page)]="pagePedidos"
              [pageSize]="pageSizePedidos"
              (pageChange)="pedidos()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto; border-radius: 20px" name="selectPa"
                    [(ngModel)]="pageSizePedidos"
                    (change)="pedidos()">
              <option [ngValue]="20">20 pedidos por pagina</option>
              <option [ngValue]="40">40 pedidos por pagina</option>
              <option [ngValue]="60">60 pedidos por pagina</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'Pedido'">
      <div class="Cuerpo">
        <form class="font-weight-normal col-lg-10 sombra-border"  style="margin-top: 1rem;">
          <br>
          <div>
            <div class=" row" style="padding-right: 1rem;">
              <div class="col">
                <div class="card" style="border-radius: 20px">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="sombra-border-titulo" style="text-align: center">
                          <h2 class="card-title"><span class="fas fa-user"></span>Cliente.</h2>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col">
                            <p>
                              Identificacion:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.identificacion}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Nombres:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.nombres}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Apellidos:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.apellidos}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="sombra-border-titulo" style="text-align: center">
                          <h2 class="card-title"><span
                            class="fas fa-truck-loading"></span>Entrega.</h2>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Fecha:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{pedidoGenrado.fecha}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Dirección:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{clienteConsuta.direccion}}
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>
                              Estado:
                            </p>
                          </div>
                          <div class="col">
                            <p>
                              {{pedidoSeleccionado.estado}}
                            </p>
                            <div class="row" *ngIf="pedidoSeleccionado.estado != 'Pagado'">
                              <div class="col">
                                <select class="form-control " name="Estado"
                                        [(ngModel)]="estadoPedido">
                                  <option [value]="estado" *ngFor="let estado of listaEstadosDisponiblePedido">{{estado}}</option>
                                </select>
                              </div>
                              <div class="col">
                                <button class="btn btn-outline-dark"
                                        style="border-radius: 50%"
                                        (click)="actualizarPedido()"><span
                                  class="fa fa-sync-alt"
                                  style="padding-right: 0rem;"></span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr style="visibility: hidden;">

            <div class="row d-flex justify-content-center">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-danger" style="width: 150px" type="reset"
                        (click)="mostrar = 'Pedidos'; pedidos()">
                  <span class="icon-arrow-left1"></span>Volver
                </button>
              </div>
            </div>
            <hr style="visibility: hidden;">
            <div class="table-responsive">
              <table class="table table-responsive-sm"
                     *ngIf='pedidoSeleccionado.detallesDePedidos && pedidoSeleccionado.detallesDePedidos.length'>
                <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">codigo Producto</th>
                  <th scope="col">cantidad</th>
                  <th scope="col">Valor unitario</th>
                  <th scope="col">Descuento</th>
                  <th scope="col">Sub total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let detalle of pedidoSeleccionado.detallesDePedidos; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ detalle.codProducto }} </td>
                  <td>{{ detalle.cantidad }}</td>
                  <td>{{ detalle.valorUnitario }}</td>
                  <td>{{ detalle.totalDescuento }}</td>
                  <td>{{ detalle.subTotal}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="row d-flex justify-content-end">
            <div class="col-sm-6 ">
              <div class="card" style="border-radius: 20px">
                <div class="card-body">
                  <div class="sombra-border-titulo" style="text-align: center">
                    <h2 class="card-title"><span class="fas fa-poll-h"></span>Totales.</h2>
                  </div>

                  <br>
                  <div class="row">
                    <div class="col">
                      <p>
                        Total:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoSeleccionado.total}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Sub Total:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoSeleccionado.subTotal}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Porcentaje iva:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoSeleccionado.iva}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>
                        Total iva:
                      </p>
                    </div>
                    <div class="col">
                      <p>
                        {{pedidoSeleccionado.totalIva}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'RegistrarRuta'">
      <div class="Cuerpo">
        <form class="col-11 font-weight-normal sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Pedidos sin ruta</h2>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label>Filtro por codigo.</label>
              <input class="form-control col-5" type="text" style="width: 200px; border-radius: 20px" placeholder="Referencia"
                     [(ngModel)]="filtroPedidosSinRuta" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <div class="row" style="padding-right: 2rem;">
                <div class="col">
                  <button class="btn btn-outline-dark" style=" width: 150px;height: 40px;"
                          (click)="mostrar = 'DomiciliariosSinRuta'; domiciliariosSinrRuta()">
                    <span class="fa fa-plus"></span> Asignar
                  </button>
                </div>
                <div>
                  <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                          (click)="mostrar = 'Principal'">
                    <span class="icon-arrow-left1"></span> Volver
                  </button>
                </div>
              </div>

            </div>
          </div>
          <hr style="visibility: hidden;">

          <div class="text-center" *ngIf="ListaPedidosSinruta.length == 0">
            <h4>¡NO HAY PEDIDOS SIN RUTA ASIGANA!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm"
                   *ngIf='ListaPedidosSinruta && ListaPedidosSinruta.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">codigo</th>
                <th scope="col">Cliente</th>
                <th scope="col">fecha</th>
                <th scope="col">subTotal</th>
                <th scope="col">Iva</th>
                <th scope="col">Descuento</th>
                <th scope="col">total</th>
                <th scope="col">Estado</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let pedido of ListaPedidosSinruta|filtroPedido:filtroPedidosSinRuta; index as i">
                <th scope="row"><input type="checkbox" name="cb-matematicas" [(ngModel)]="check[i]"
                                       value="likes" checked></th>
                <td>{{ pedido.codigo }} </td>
                <td>{{ pedido.idPersona }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.subTotal }}</td>
                <td>{{ pedido.iva }}</td>
                <td>{{ pedido.descuento }}</td>
                <td>{{ pedido.total }}</td>
                <th>{{ pedido.estado }}</th>
              </tr>
              </tbody>
            </table>
          </div>
          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'DomiciliariosSinRuta'">
      <div class="Cuerpo">
        <form class="col-11 font-weight-normal sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Domiciliarios sin ruta</h2>
          </div>
          <br>
          <div class="row">
            <div class="col d-flex justify-content-start">
              <label>Filtro (identificacion, nombres, apellidos).</label>
              <input class="form-control col-5" type="text" style="width: 200px;border-radius: 20px" placeholder="Referencia"
                     [(ngModel)]="filtroDomiciliariosSinruta" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                      (click)="mostrar = 'RegistrarRuta'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="text-center" *ngIf="ListaDomiciliariosSinRuta.length == 0">
            <h4>¡NO HAY DOMICILIARIOS DISPONIBLES!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm"
                   *ngIf='ListaDomiciliariosSinRuta && ListaDomiciliariosSinRuta.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Whatsapp</th>
                <th scope="col">Fecha Permiso</th>
                <th scope="col">opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let domiciliario of ListaDomiciliariosSinRuta | filtroDomicliario: filtroDomiciliariosSinruta; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ domiciliario.identificacion }} </td>
                <td>{{ domiciliario.nombres }}</td>
                <td>{{ domiciliario.apellidos }}</td>
                <td>{{ domiciliario.telefono }}</td>
                <td>{{ domiciliario.whatsapp }}</td>
                <td>{{ domiciliario.fechaPermisoConduccion }}</td>
                <td><button class="btn btn-outline-dark"
                            (click)="registrarRuta(domiciliario)">seleccionar</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="totalDomiciliariosSinRuta"
                [(page)]="pageDomiciliariosSinRuta"
                [pageSize]="pageSizeDomiciliariosSinRuta"
                (pageChange)="domiciliariosSinrRuta()">
              </ngb-pagination>

              <select class="custom-select" style="width: auto; border-radius: 20px" name="selectPa"
                      [(ngModel)]="pageSizeDomiciliariosSinRuta"
                      (change)="domiciliariosSinrRuta()">
                <option [ngValue]="20">20 pedidos por pagina</option>
                <option [ngValue]="40">40 pedidos por pagina</option>
                <option [ngValue]="60">60 pedidos por pagina</option>
              </select>
            </div>
          </div>
          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'Domiciliarios'">
      <div class="Cuerpo">
        <form class="col-11 font-weight-normal sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Domiciliarios</h2>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label>Filtro (identificacion, nombres, apellidos).</label>
              <input class="form-control col-5" type="text" style="width: 200px;" placeholder="Referencia"
                     [(ngModel)]="filtroDomiciliario" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                      (click)="mostrar = 'Principal'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="text-center" *ngIf="LsitaDomiciliarios.length == 0">
            <h4>¡NO HAY DOMICILIARIOS REGISTRADO!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm"
                   *ngIf='LsitaDomiciliarios && LsitaDomiciliarios.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Tipo Id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Whatsapp</th>
                <th scope="col">Fecha Permiso</th>
                <th scope="col">Estado</th>
                <th scope="col">opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let domiciliario of LsitaDomiciliarios | filtroDomicliario: filtroDomiciliario; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ domiciliario.identificacion }} </td>
                <td>{{ domiciliario.tipoId }} </td>
                <td>{{ domiciliario.nombres }}</td>
                <td>{{ domiciliario.apellidos }}</td>
                <td>{{ domiciliario.telefono }}</td>
                <td>{{ domiciliario.whatsapp }}</td>
                <td>{{ domiciliario.fechaPermisoConduccion }}</td>
                <td>{{ domiciliario.estado }}</td>
                <td><button class="btn btn-outline-dark"
                            (click)="domiciliarioSeleccionado = domiciliario;mostrar = 'Domiciliario';buscarMoto(); buscarRuta()">ver</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="totalDomiciliarios"
                [(page)]="pageDomiciliarios"
                [pageSize]="pageSizeDomiciliarios"
                (pageChange)="domiciliarios()">
              </ngb-pagination>

              <select class="custom-select" style="width: auto; border-radius: 20px" name="selectPa"
                      [(ngModel)]="pageSizeDomiciliarios"
                      (change)="domiciliarios()">
                <option [ngValue]="20">20 pedidos por pagina</option>
                <option [ngValue]="40">40 pedidos por pagina</option>
                <option [ngValue]="60">60 pedidos por pagina</option>
              </select>
            </div>
          </div>
          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'Domiciliario'">
      <div class="Cuerpo">
        <form class="col-6 sombra-border">
          <br>
          <div class="text-center sombra-border-titulo">
            <h2>Domiciliario: {{domiciliarioSeleccionado.nombres}} {{domiciliarioSeleccionado.apellidos}},
              {{domiciliarioSeleccionado.identificacion}}</h2>
          </div>
          <br>
          <div class="info">
            <div class="row">
              <div class="col">
                <h2>Telefono:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.telefono}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h2>Whatsapp:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.whatsapp}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h2>Fecha permiso de conducción:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.fechaPermisoConduccion}}
              </div>
            </div>
            <div class="row" *ngIf="domiciliarioSeleccionado.moto">
              <div class="col">
                <h2>Placa del Vehiculo:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.moto.placa}}
              </div>
            </div>
            <div class="row" *ngIf="domiciliarioSeleccionado.moto">
              <div class="col">
                <h2>Fecha Soat:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.moto.fechaSoat}}
              </div>
            </div>
            <div class="row" *ngIf="domiciliarioSeleccionado.moto">
              <div class="col">
                <h2>Fecha Tecnomecánica:</h2>
              </div>
              <div class="col">
                {{domiciliarioSeleccionado.moto.fechaTecnoMecanica}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-start">
              <button class="btn btn-outline-danger" style=" width: 150px"
                      (click)="mostrar = 'EditarDomiciliario'">
                <fa-icon [icon]="userEdit"></fa-icon>Editar
              </button>
            </div>
            <div class="col d-flex justify-content-end">
              <button class="btn btn-outline-danger" style=" width: 150px"
                      (click)="mostrar = 'Domiciliarios'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="text-center" *ngIf="!rutaSeleccionada.pedidos">
            <h4>¡NO TIENE RUTA ASIGNADA!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm" *ngIf='rutaSeleccionada.pedidos && rutaSeleccionada.pedidos.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">Cliente</th>
                <th scope="col">fecha</th>
                <th scope="col">subTotal</th>
                <th scope="col">Iva</th>
                <th scope="col">Descuento</th>
                <th scope="col">total</th>
                <th scope="col">Estado</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pedido of rutaSeleccionada.pedidos|filtroPedido:filtroPedidos; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ pedido.codigo }} </td>
                <td>{{ pedido.idPersona }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.subTotal }}</td>
                <td>{{ pedido.iva }}</td>
                <td>{{ pedido.descuento }}</td>
                <td>{{ pedido.total }}</td>
                <th>{{ pedido.estado }}</th>
              </tr>
              </tbody>
            </table>
          </div>
          <hr>
        </form>
      </div>
    </div>
    <div *ngIf="mostrar == 'DomiciliariosSinRutaLista'">
      <div class="Cuerpo">
        <form class="col-11 sombra-border font-weight-normal">
          <br>
          <div class="text-center sombra-border-titulo" >
            <h2>Domiciliarios sin ruta</h2>
          </div>
          <br>
          <div class="row">
            <div class="col ">
              <label>Filtro (identificacion, nombres, apellidos).</label>
              <input class="form-control col-5" type="text" style="width: 200px;border-radius: 20px" placeholder="Referencia"
                     [(ngModel)]="filtroDomiciliariosSinruta" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col d-flex justify-content-end" style="padding-top: 2rem;">
              <button class="btn btn-outline-danger" style=" width: 150px;height: 40px;"
                      (click)="mostrar = 'Principal'">
                <span class="icon-arrow-left1"></span> Volver
              </button>
            </div>
          </div>
          <hr style="visibility: hidden;">
          <div class="text-center" *ngIf="ListaDomiciliariosSinRuta.length == 0">
            <h4>¡NO HAY DOMICILIARIOS CON MENOS DE TRES PEDIDOS REGISTRADOS!</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive-sm"
                   *ngIf='ListaDomiciliariosSinRuta && ListaDomiciliariosSinRuta.length'>
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Whatsapp</th>
                <th scope="col">Fecha Permiso</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let domiciliario of ListaDomiciliariosSinRuta | filtroDomicliario: filtroDomiciliariosSinruta; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ domiciliario.identificacion }} </td>
                <td>{{ domiciliario.nombres }}</td>
                <td>{{ domiciliario.apellidos }}</td>
                <td>{{ domiciliario.telefono }}</td>
                <td>{{ domiciliario.whatsapp }}</td>
                <td>{{ domiciliario.fechaPermisoConduccion }}</td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="totalDomiciliariosSinRuta"
                [(page)]="pageDomiciliariosSinRuta"
                [pageSize]="pageSizeDomiciliariosSinRuta"
                (pageChange)="domiciliariosSinrRuta()">
              </ngb-pagination>

              <select class="custom-select" style="width: auto; border-radius: 20px" name="selectPa"
                      [(ngModel)]="pageSizeDomiciliariosSinRuta"
                      (change)="domiciliariosSinrRuta()">
                <option [ngValue]="20">20 pedidos por pagina</option>
                <option [ngValue]="40">40 pedidos por pagina</option>
                <option [ngValue]="60">60 pedidos por pagina</option>
              </select>
            </div>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-drawer-container>
