.contenedor{
    display: flex;
    align-items: stretch;
}

.btnBarraProducto{
    width: 200px;
}

.TituloBarra{
    margin-top: 1rem; 
    background-color: brown; 
    border-top-right-radius: 17px;
}

.divProductos{
    border-radius: 20px;
    margin-bottom: 1rem;
}

.divOpciones{
    background-image: url("../../../assets/PicsArt_10-14-12.14.04.jpg");
    border-radius: 20px;
}

.btn{
    box-shadow: 0px 0px 5px 2px rgba(133, 133, 133, 0.75); 
    border-radius: 18px; 
    width: 100px; 
    font-size: .7cm;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btnbarra{
    border-radius: 17px;
    border: none;
    outline: none;
    background-color:  rgb(52, 58, 64);
}
.btnbarraOps{
    border-radius: 17px;
    border: none;
    outline: none;
    background-color:  rgb(50, 51, 53);
}

*{
    font-size: .7cm;
}

hr{
    border-color: rgb(253, 52, 52);
}
h1{
    font-size: 1cm;
}
#Logo{
    background-image: url("../../../assets/PicsArt_10-14-12.14.04.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 610px;
    max-width: 610px;
}

.OpsMenu{
    background-color:  rgb(50, 51, 53);
}

.barraLateral{
    position: relative;
    min-width: 250px;
    max-width: 250px;
    background-color: rgb(52, 58, 64);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 1rem;
    box-shadow: 0px 0px 5px 2px rgba(153, 152, 152, 0.75);
    transition: all 400ms linear;
}

.BarraActiva {
    left: 0px;
}


.BarraActivaContenido{
    left: 260px;
}
.contenido{
    left: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: 0px 0px 5px 2px rgba(153, 152, 152, 0.75); 
}



.Ocultar{
    display: none;
}
.Mostrar{
    display: block;
}
@media (max-width: 768px){
    .barraLateral{
        min-width: 150px;
        max-width: 150px;
        min-height: 50vh;
    }
    .btn{
        box-shadow: 0px 0px 5px 2px rgba(133, 133, 133, 0.75); 
    border-radius: 18px; 
    width: 100px; 
    font-size: .7cm;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .contenido{
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 0cm;
        margin-top: 1rem;
        box-shadow: 0px 0px 5px 2px rgba(153, 152, 152, 0.75); 
    }
    #collapsePersonal{
        min-width: 500px;
        justify-content: center;
        margin-left: -100px;
    }

    #collapseDomicilio{
        min-width: 500px;
        justify-content: center;
        margin-left: -100px;
    }
}