<div class="container-fluid"> 
    <div class="row" id="Row">
        <div class="col barraLateral text-center text-white Ocultar" id="barraLateral">
            <div class="TituloBarra" >
                <h1>Mi perfil</h1>
            </div>
            <hr>
            <!-- BARRA MENU DEL ClIENTE-->
            <div class="" id="BarraCliente">
                <p>
                    <button class=" btn-outline-danger btnbarra" style="width: 100%; " type="button" data-toggle="collapse" data-target="#collapseCliente" aria-expanded="false" aria-controls="collapseExample">
                      Editar info
                    </button>
                </p>
                <div class="collapse" id="collapseCliente">
                    <hr>
                    <button class="btn-outline-danger btnbarra" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapsePersonal, #collapseCliente" aria-expanded="false" aria-controls="collapsePersonal">Editar info. Personal</button>
                    <button class="btn-outline-danger btnbarra" style="width: 100%; "  type="submit" data-toggle="collapse" data-target="#collapseDomicilio, #collapseCliente" aria-expanded="false" aria-controls="collapseDomicilio">Editar info. Domicilio</button>
                    <hr>
                </div>
            </div>
            <!-- BARRA MENU DEL DOMICILIARIO -->
            <div class="" id="BarraDomiciliario">
                <p>
                    <button class=" btn-outline-danger btnbarra" style="width: 100%; " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Editar info
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <hr>
                    
                    <button class="btn-outline-danger btnbarra" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapsePersonal, #collapseExample" aria-expanded="false" aria-controls="collapsePersonal">Editar info. Personal</button>
                    <button class="btn-outline-danger btnbarra" style="width: 100%; "  type="submit" data-toggle="collapse" data-target="#collapseDomicilio, #collapseExample" aria-expanded="false" aria-controls="collapseDomicilio">Editar info. Domicilio</button>
                    <hr>
                </div>
            </div>
            <!-- BARRA MENU DEL ADMINISTRADOR -->
            <div class="" id="BarraAdministrador">
                <p>
                    <button class="btn-outline-danger btnbarra" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapsePersonalAdministrador" aria-expanded="false" aria-controls="collapsePersonalAdministrador" (click)="alternarBarra()">
                        Editar info
                    </button>
                </p>
                
                <p>
                    <button class=" btn-outline-danger btnbarra" style="width: 100%; " type="button" data-toggle="collapse" data-target="#collapseOpsClientes" aria-expanded="false" aria-controls="collapseOpsClientes">
                        Clientes
                    </button>
                </p>
                <div class="collapse OpsMenu" id="collapseOpsClientes">
                    <hr>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapseRegistrarCliente, #collapseOpsClientes" aria-expanded="false" aria-controls="collapseRegistrarCliente"(click)="alternarBarra()">
                        Registrar cliente
                    </button>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="submit" data-toggle="collapse" data-target="#collapseListaClientes, #collapseOpsClientes" aria-expanded="false" aria-controls="collapseListaClientes"(click)="alternarBarra()">
                        Lista de Clientes
                    </button>
                    <hr>
                </div>

                <p>
                    <button class=" btn-outline-danger btnbarra" style="width: 100%; " type="button" data-toggle="collapse" data-target="#collapseOpsDomiciliarios" aria-expanded="false" aria-controls="collapseOpsDomiciliarios">
                        Domiciliarios
                    </button>
                </p>
                <div class="collapse OpsMenu" id="collapseOpsDomiciliarios">
                    <hr>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapseRegistrarDomiciliario, #collapseOpsDomiciliarios" aria-expanded="false" aria-controls="collapseRegistrarCliente"(click)="alternarBarra()">
                        Registrar domiciliario
                    </button>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="submit" data-toggle="collapse" data-target="#collapseListaClientes, #collapseOpsClientes" aria-expanded="false" aria-controls="collapseListaClientes"(click)="alternarBarra()">
                        Lista de Domiciliarios
                    </button>
                    <hr>
                </div>
                <p>
                    <button class=" btn-outline-danger btnbarra" style="width: 100%; " type="button" data-toggle="collapse" data-target="#collapseOpsProductos" aria-expanded="false" aria-controls="collapseOpsProductos">
                        Productos
                    </button>
                </p>
                <div class="collapse OpsMenu" id="collapseOpsProductos">
                    <hr>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="bootton" data-toggle="collapse" data-target="#collapseRegistrarProducto, #collapseOpsProductos" aria-expanded="false" aria-controls="collapseRegistrarProducto"(click)="alternarBarra()">
                        Registrar Producto
                    </button>
                    <button class="btn-outline-danger btnbarraOps" style="width: 100%; "  type="submit" data-toggle="collapse" data-target="#collapseListaProductos, #collapseOpsProductos" aria-expanded="false" aria-controls="collapseListaProductos"(click)="alternarBarra()">
                        Lista de Productos
                    </button>
                    <hr>
                </div>
            </div>
        </div>
        <div class=" col contenido justify-content-end" id="contenido">
            <div class="container-fluid" >
                <!-- FORMULARIO DEL CLIENTE -->
                <div class="" id="formularioCliente">
                    <div class="row" >
                        <form class="col" >
                            <div class="row d-flex justify-content-star">
                                <button class="btn btn-outline-dark" type="button"  (click)="alternarBarra()">Menu</button>
                            </div>
                            <div class="info">
                                <h4>Informacion Personal.</h4>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    <label for="LblIdentificacion" >Identificacion:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblIdentificacionUser" >.....</label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblNombres" >Nombres:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblNombresUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblApellidos" >Apellidos:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblApellidosUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblCorreo" >Correo:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblCorreoUser">..... </label> <br>
                                </div>
                            </div>
                            <h4>Informacion de domicilio.</h4>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    <label for="LblDireccion" >Direccion:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblDireccionUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblPais" >Pais:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblPaisUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblCiudad" >Ciudad:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblCiudadUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblTelefono" >Telefono fijo o movil:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblTelefonoUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblWhatsapp" >Whatsapp:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblWhatsappUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblHorario" >Horario Entrega:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblHorarioUser">..... </label> <br>
                                </div>
                            </div>
                            </div>
                        </form>
                        <form class="col"style="" id="Logo">
                                <div class="d-flex justify-content-center">
                                    <img class="mb-4" src="assets/LogoNombreBlanco.png" alt="" width="300" height="300">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h1 class="text-white">La mejor carne, al mejor precio.</h1>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h3 class="text-white">Perfil.</h3>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h5 class="text-white">Cliente.</h5>
                                </div>
                        </form>
                    </div>
                    <div class="collapse row justify-content-center "id="collapsePersonal">
                        <form class="col-6 font-weight-normal   " id="formularioEditarPersonal" style="margin-top: 1rem;">
                        <hr>
                        <div class="col ">
                            <div class="row">
                                <div class="col">
                                    <label for="LblName">Nombre</label>
                                    <input type="Text" id="LblName" class="form-control" placeholder="Nombres">
                                </div>
                                <div class="col">
                                  <label>Apellidos</label>
                                  <input type="text"  name="apellidos"  placeholder="Apellidos" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputPassword1" >Contraseña</label>
                            <input type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013">
                                </div>
                                <div class="col">
                                    <label for="inputPassword" >Contraseña</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center" >
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" >Editar</button>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">Volver</button>
                            </div>
                        </div>
                        <hr style="visibility: hidden;">
                    </form>
                    </div>
                    <div class="collapse row justify-content-center"id="collapseDomicilio">
                        <form class="col-6 font-weight-normal" id="formularioEditarDomicilio" style="margin-top: 1rem;">
                            <hr>
                            <div class="col">
                                <label for="LblDreccion">Dirección</label>
                                <input type="text" id="LblDireccion" class="form-control" placeholder="Dirrecion">
                                <label for="SlcPais">Pais</label>
                                <select name="SlcPais"  class="form-control" id="SlcPais" >
                                    <option value="Col">Colombia</option>
                                    <option value="Ven">Venezuela</option>
                                </select>
                                <label for="LblCiudad">Ciudad</label>
                                <input type="text" id="LblCiudad" class="form-control" placeholder="Ciudad">
                                <div class="row">
                                    <div class="col">
                                        <label for="LblTelefono">Telefono fijo o Movil</label>
                                        <input type="number" id="LblTelefono" class="form-control">
                                    </div>
                                    <div class="col">
                                      <label>Numero Whatsapp</label>
                                      <input type="number"  name="Whatsapp"  class="form-control" />
                                    </div>
                                </div>
                                <label for="SlcHorario">Horario de entrega</label>
                                <select name="SlcHorario"  class="form-control" id="SlcHorario" >
                                    <option value="H1">8:00 AM / 6:00 PM</option>
                                    <option value="H2">8:00 AM / 12:00 PM</option>
                                    <option value="H2">12:00 PM / 6:00 PM</option>
                                </select>
                            </div>
                        <hr>
                        <div class="row d-flex justify-content-center">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style="width: 50%" type="submit" >Editar</button>
                                
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style="width: 50%" type="submit" data-toggle="collapse" data-target="#collapseDomicilio" aria-expanded="false" aria-controls="collapseDomicilio">Volver</button>
                            </div>
                        </div>
                        <hr style="visibility: hidden;">
                    </form>
                    </div>
                    <form  class="col " >
                        <h1 class="font-weight-normal text-center">Historial de pedidos.</h1>
                        <div class="justify-content-center">
                            <table style="width:100%; margin: auto;" class="table table-responsive-sm">
                                <thead>
                                  <tr>
                                    <th>Codigo Del pedido</th>
                                    <th>Fecha del pedido</th>
                                    <th>Valor</th>
                                    <th>Estado</th>
                                  </tr>
                                </thead>
                                <tbody id="tdPedidos" >
                                    <tr scope="row"> 
                                        <td>1029</td>
                                        <td>10/10/2020</td>
                                        <td>120000</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr scope="row"> 
                                        <td>1030</td>
                                        <td>20/10/2020</td>
                                        <td>129000</td>
                                        <td>En camino</td>
                                    </tr>
                                </tbody>
                              </table >
                        </div>
                    </form>
                </div>
                <!-- FORMULARIO DOMICILIARIO -->
                <div class="" id="formularioDomiciliario">
                    <div class="row" >
                        <form class="col" >
                            <div class="row d-flex justify-content-star">
                                <button class="btn btn-outline-dark" type="button"  (click)="alternarBarra()">Menu</button>
                            </div>
                            <div class="info">
                                <h4>Informacion Personal.</h4>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    <label for="LblIdentificacion" >Identificacion:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblIdentificacionUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblNombres" >Nombres:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblNombresUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblApellidos" >Apellidos:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblApellidosUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblCorreo" >Correo:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblCorreoUser">..... </label> <br>
                                </div>
                            </div>
                            <h4>Informacion de domicilio.</h4>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    <label for="LblDireccion" >Direccion:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblDireccionUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblPais" >Pais:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblPaisUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblCiudad" >Ciudad:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblCiudadUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblTelefono" >Telefono fijo o movil:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblTelefonoUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblWhatsapp" >Whatsapp:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblWhatsappUser">..... </label> <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblHorario" >Horario Entrega:  </label>
                                </div>
                                <div class="col">
                                    <label id="LblHorarioUser">..... </label> <br>
                                </div>
                            </div>
                            </div>
                        </form>
                        <form class="col"style="" id="Logo">
                                <div class="d-flex justify-content-center">
                                    <img class="mb-4" src="assets/LogoNombreBlanco.png" alt="" width="300" height="300">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h1 class="text-white">La mejor carne, al mejor precio.</h1>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h3 class="text-white">Perfil.</h3>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h5 class="text-white">Cliente.</h5>
                                </div>
                        </form>
                    </div>
                    <div class="collapse row justify-content-center "id="collapsePersonal">
                        <form class="col-6 font-weight-normal   " id="formularioEditarPersonal" style="margin-top: 1rem;">
                        <hr>
                        <div class="col ">
                            <div class="row">
                                <div class="col">
                                    <label for="LblName">Nombre</label>
                                    <input type="Text" id="LblName" class="form-control" placeholder="Nombres">
                                </div>
                                <div class="col">
                                  <label>Apellidos</label>
                                  <input type="text"  name="apellidos"  placeholder="Apellidos" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputPassword1" >Contraseña</label>
                            <input type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013">
                                </div>
                                <div class="col">
                                    <label for="inputPassword" >Contraseña</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center" >
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" >Editar</button>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">Volver</button>
                            </div>
                        </div>
                        <hr style="visibility: hidden;">
                    </form>
                    </div>
                    <div class="collapse row justify-content-center"id="collapseDomicilio">
                        <form class="col-6 font-weight-normal" id="formularioEditarDomicilio" style="margin-top: 1rem;">
                            <hr>
                            <div class="col">
                                <label for="LblDreccion">Dirección</label>
                                <input type="text" id="LblDireccion" class="form-control" placeholder="Dirrecion">
                                <label for="SlcPais">Pais</label>
                                <select name="SlcPais"  class="form-control" id="SlcPais" >
                                    <option value="Col">Colombia</option>
                                    <option value="Ven">Venezuela</option>
                                </select>
                                <label for="LblCiudad">Ciudad</label>
                                <input type="text" id="LblCiudad" class="form-control" placeholder="Ciudad">
                                <div class="row">
                                    <div class="col">
                                        <label for="LblTelefono">Telefono fijo o Movil</label>
                                        <input type="number" id="LblTelefono" class="form-control">
                                    </div>
                                    <div class="col">
                                      <label>Numero Whatsapp</label>
                                      <input type="number"  name="Whatsapp"  class="form-control" />
                                    </div>
                                </div>
                                <label for="SlcHorario">Horario de entrega</label>
                                <select name="SlcHorario"  class="form-control" id="SlcHorario" >
                                    <option value="H1">8:00 AM / 6:00 PM</option>
                                    <option value="H2">8:00 AM / 12:00 PM</option>
                                    <option value="H2">12:00 PM / 6:00 PM</option>
                                </select>
                            </div>
                        <hr>
                        <div class="row d-flex justify-content-center">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style="width: 50%" type="submit" >Editar</button>
                                
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style="width: 50%" type="submit" data-toggle="collapse" data-target="#collapseDomicilio" aria-expanded="false" aria-controls="collapseDomicilio">Volver</button>
                            </div>
                        </div>
                        <hr style="visibility: hidden;">
                    </form>
                    </div>
                    <form  class="col " >
                        <h1 class="font-weight-normal text-center">Historial de pedidos.</h1>
                        <div class="justify-content-center">
                            <table style="width:100%; margin: auto;" class="table table-responsive-sm">
                                <thead>
                                  <tr>
                                    <th>Codigo Del pedido</th>
                                    <th>Fecha del pedido</th>
                                    <th>Valor</th>
                                    <th>Estado</th>
                                  </tr>
                                </thead>
                                <tbody id="tdPedidos" >
                                    <tr scope="row"> 
                                        <td>1029</td>
                                        <td>10/10/2020</td>
                                        <td>120000</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr scope="row"> 
                                        <td>1030</td>
                                        <td>20/10/2020</td>
                                        <td>129000</td>
                                        <td>En camino</td>
                                    </tr>
                                </tbody>
                              </table >
                        </div>
                    </form>
                </div>
                <!-- FORMULARIO ADMINISTRADOR -->
                <div class="" id="formularioAdministrador">
                    <div class="row" >
                        <form class="col" >
                            <div class="row d-flex justify-content-star">
                                <button class="btn btn-outline-dark" type="button"  (click)="alternarBarra()">Menu</button>
                            </div>
                            <div class="info">
                                <h4>Informacion Personal-Administrador.</h4>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    <label for="LblIdentificacion" >Identificacion:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.identificacion}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblNombres" >Nombres:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.nombres}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblApellidos" >Apellidos:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.apellidos}}
                                    </p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <label for="LblCorreo" >Puesto:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.puesto}}
                                    </p>
                                </div>
                            </div>
                            <h4>Informacion de contacto.</h4>
                            <div class="row">
                                <div class="col">
                                    <label for="LblCorreo" >Correo:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{usuario.correo}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblTelefono" >Telefono fijo o movil:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.telefono}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblWhatsapp" >Whatsapp:  </label>
                                </div>
                                <div class="col">
                                    <p>
                                        {{administrador.whatsapp}}
                                    </p>
                                </div>
                            </div>
                            </div>
                        </form>
                        <form class="col"style="" id="Logo">
                                <div class="d-flex justify-content-center">
                                    <img class="mb-4" src="assets/LogoNombreBlanco.png" alt="" width="300" height="300">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h1 class="text-white">La mejor carne, al mejor precio.</h1>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h3 class="text-white">Perfil.</h3>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 1cm;">
                                    <h5 class="text-white">Administrador.</h5>
                                </div>
                        </form>
                    </div>
                    <div class="collapse row justify-content-center "id="collapsePersonalAdministrador">
                        <form class="col-8 font-weight-normal   " id="formularioEditarAdministrador" style="margin-top: 1rem;">
                        <hr>
                        <div class="col ">
                            <div class="row">
                                <div class="col">
                                    <label for="LblNameAdministrador">Nombre</label>
                                    <input type="Text" id="LblNameAdministrador" class="form-control" placeholder="Nombres"  [(ngModel)]="administradorActualizar.nombres" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col">
                                  <label for="LblApellidoAdministrador">Apellidos</label>
                                  <input type="text" id="LblApellidoAdministrador" name="apellidos"  placeholder="Apellidos" class="form-control" [(ngModel)]="administradorActualizar.apellidos"[ngModelOptions]="{standalone: true}"/>
                                </div>
                                <div class="col">
                                    <label for="LblPuestoAdministrador">Puesto</label>
                                    <input type="Text" id="LblPuestoAdministrador" class="form-control" placeholder="Puesto" [(ngModel)]="administradorActualizar.puesto" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="LblTelefonoAdministrador">Telefono fijo o Movil</label>
                                    <input type="text" id="LblTelefonoAdministrador" class="form-control" [(ngModel)]="administradorActualizar.telefono" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col">
                                  <label for="LblWhatsappAdministrador">Numero Whatsapp</label>
                                  <input type="text" id="LblWhatsappAdministrador"  name="Whatsapp"  class="form-control" [(ngModel)]="administradorActualizar.whatsapp" [ngModelOptions]="{standalone: true}"/>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputPassword1Administrador" >Contraseña</label>
                                    <input type="password" id="inputPassword1Administrador" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013"[(ngModel)]="contrasenaActualizar" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col">
                                    <label for="inputPasswordAdministrador" >Contraseña</label>
                                    <input type="password" id="inputPasswordAdministrador" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013"[(ngModel)]="contrasenaconfirmar" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center" >
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" (click)='atualizarInformacion("Administrador")'>
                                    Editar
                                </button>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-outline-dark" style=" width: 50%" type="submit" data-toggle="collapse" data-target="#collapsePersonalAdministrador" aria-expanded="false" aria-controls="collapsePersonalAdministrador">
                                    Volver
                                </button>
                            </div>
                        </div>
                        <hr style="visibility: hidden;">
                    </form>
                    </div>
                    <div class="collapse row justify-content-center"id="collapseRegistrarCliente">
                        <form class="col-8 font-weight-normal" id="formularioRgistrarCliente" style="margin-top: 1rem;"[formGroup]="formularioRegistroCliente">
                            <hr>
                            
                            <div class="col-6">
                                <label for="">Identificacion</label>
                                <input type="text"  name="identificacion"  placeholder="identificacion" class="form-control"formControlName="identificacion" [ngClass]="{'is-invalid':  control.identificacion.touched && control.identificacion.errors}"/>
                                <div *ngIf="control.identificacion.errors" class="invalid-feedback">
                                    <div *ngIf="control.identificacion.errors.required">Se require la identificacion</div>
                                </div>
                            </div>
                            

                            <div class="col row">
                                <div class="col">
                                    <label for="LblNameAdministrador">Nombre</label>
                                    <input type="Text" id="LblNameAdministrador" class="form-control" placeholder="Nombres"formControlName="nombres"[ngClass]="{'is-invalid':  control.nombres.errors  && control.nombres.touched}">
                                    <div *ngIf="control.nombres.errors" class="invalid-feedback">
                                        <div *ngIf="control.nombres.errors.required">Se requiren los nombres</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Apellidos</label>
                                    <input type="text"  name="apellidos"  placeholder="Apellidos" class="form-control"formControlName="apellidos" [ngClass]="{'is-invalid':  control.apellidos.touched && control.apellidos.errors}"/>
                                    <div *ngIf="control.apellidos.errors" class="invalid-feedback">
                                        <div *ngIf="control.apellidos.errors.required">Se requiren los apellidos</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col row">
                                <div class="col">
                                    <label for="inputEmail">Correo Electronico</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" required="" autofocus="" _mstplaceholder="868153" formControlName="correo" [ngClass]="{'is-invalid':  control.correo.touched && control.correo.errors}">
                                    <div *ngIf="control.correo.errors" class="invalid-feedback">
                                        <div *ngIf="control.correo.errors.required">Se require el correo</div>
                                    </div>
                                </div>
                                <div class="col"> 
                                    <label for="">Tipo de cliente</label>
                                      <select class="form-control " formControlName="tipoCliente">
                                        <option value="Cliente Negocio">Tiene negocio</option>
                                        <option value="Cliente casual">Cliente casual</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col row">
                                <div class="col">
                                    <label for="inputPassword1" >Contraseña</label>
                                    <input type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013"formControlName="contrasena" [ngClass]="{'is-invalid':  control.contrasena.touched && control.contrasena.errors}">
                                    <div *ngIf="control.contrasena.errors" class="invalid-feedback">
                                        <div *ngIf="control.contrasena.errors.required">Se require la contraseña</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="inputPassword" >Contraseña</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="" _mstplaceholder="182013"formControlName="contrasenaconfirmar" [ngClass]="{'is-invalid':  control.contrasenaconfirmar.touched && control.contrasenaconfirmar.errors}">
                                    <div *ngIf="control.contrasenaconfirmar.errors" class="invalid-feedback">
                                        <div *ngIf="control.contrasenaconfirmar.errors.required">Se require la confirmacion de la contraseña</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row d-flex justify-content-center">
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-outline-dark" style="width: 50%" type="submit" (click)="onSubmit()" 
                                    [disabled]="formularioRegistroCliente.invalid">        
                                        Registrar
                                    </button>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-outline-dark" style="width: 50%" type="reset" data-toggle="collapse" data-target="#collapseRegistrarCliente" aria-expanded="false" aria-controls="collapseRegistrarCliente">
                                        Volver
                                    </button>
                                </div>
                            </div>
                            <hr style="visibility: hidden;">
                        </form>
                    </div>
                    <!--<form  class="col " >
                        <h1 class="font-weight-normal text-center">Historial de pedidos.</h1>
                        <div class="justify-content-center">
                            <table style="width:100%; margin: auto;" class="table table-responsive-sm">
                                <thead>
                                  <tr>
                                    <th>Codigo Del pedido</th>
                                    <th>Fecha del pedido</th>
                                    <th>Valor</th>
                                    <th>Estado</th>
                                  </tr>
                                </thead>
                                <tbody id="tdPedidos" >
                                    <tr scope="row"> 
                                        <td>1029</td>
                                        <td>10/10/2020</td>
                                        <td>120000</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr scope="row"> 
                                        <td>1030</td>
                                        <td>20/10/2020</td>
                                        <td>129000</td>
                                        <td>En camino</td>
                                    </tr>
                                </tbody>
                            </table >
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>