<div class="row  container-fliud justify-content-center ">
    <form class="form-signin col-md-4 frmRegistro " [formGroup]="formularioRegistro">
        <div class="sombra-border-titulo">
          <div class="d-flex justify-content-center divLogo"
               [style]="style">
            <img class="mb-4" [src]="baseUrl+'imagenes/imagenesSistema/LogoNombreBlanco.png'" alt="" width="300" height="300">
          </div>
          <h1 class="font-weight-normal text-center">REGISTRO</h1>
        </div>
      <mat-stepper orientation="horizontal" [linear]="false" #stepper>
        <mat-step style="min-height: 700px">
          <ng-template  matStepLabel>Información personal</ng-template>
          <div class="row">
            <div class="col">
              <label for="LblIdentificacion">Identificacion</label>
              <input type="Text" id="LblIdentificacion" name="identificacion" style="border-radius: 20px" class="form-control" placeholder="Identificacion" formControlName="identificacion" [ngClass]="{'is-invalid':  control.identificacion.touched && control.identificacion.errors}"/>
              <div *ngIf="control.identificacion.errors" class="invalid-feedback">
                <div *ngIf="control.identificacion.errors.required">Se require la identificacion</div>
              </div>
            </div>
              <div class="col">
                <label>Tipo de identificación</label>
                <select class="form-control " style="border-radius: 20px" formControlName="tipoId"
                        [ngClass]="{'is-invalid':control.tipoId.touched && control.tipoId.errors}">
                  <option value="CC">Cedula de ciudadania</option>
                  <option value="CE">Cedula extranjeria</option>
                  <option value="TI">Tarjeta de identidad</option>
                  <option value="NIT">NIT</option>
                </select>
                <div *ngIf="control.tipoId.errors"class="invalid-feedback">
                  <div *ngIf="control.tipoId.errors.required">Se require que seleccione el
                    tipo de identificaion</div>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="LblName">Nombres</label>
              <input type="Text" id="LblName" class="form-control" style="border-radius: 20px" placeholder="Nombres"formControlName="nombres" [ngClass]="{'is-invalid':  control.nombres.touched && control.nombres.errors}"/>
              <div *ngIf="control.nombres.errors" class="invalid-feedback">
                <div *ngIf="control.nombres.errors.required">Se requiren los nombres</div>
              </div>
            </div>
            <div class="col">
              <label>Apellidos</label>
              <input type="text"  name="apellidos"  placeholder="Apellidos" style="border-radius: 20px" class="form-control" formControlName="apellidos" [ngClass]="{'is-invalid':  control.apellidos.touched && control.apellidos.errors}"/>
              <div *ngIf="control.apellidos.errors" class="invalid-feedback">
                <div *ngIf="control.apellidos.errors.required">Se requiren los apellidos</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label >Tipo de cliente</label>
              <select class="form-control " formControlName="tipoCliente" style="border-radius: 20px" [ngClass]="{'is-invalid':  control.tipoCliente.touched && control.tipoCliente.errors}">
                <option value="Cliente Negocio">Tiene negocio</option>
                <option value="Cliente casual">Cliente casual</option>
              </select>
              <div *ngIf="control.tipoCliente.errors" class="invalid-feedback">
                <div *ngIf="control.tipoCliente.errors.required">Se require que seleccione el tipo de cliente</div>
              </div>
            </div>
          </div>
          <div>
            <label for="inputEmail">Correo Electronico</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" style="border-radius: 20px" formControlName="correo" [ngClass]="{'is-invalid':  control.correo.touched && control.correo.errors}"/>
            <div *ngIf="control.correo.errors" class="invalid-feedback">
              <div *ngIf="control.correo.errors.required">Se require el correo</div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="inputPassword1" >Contraseña</label>
              <input type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required="" style="border-radius: 20px" formControlName="contrasena" [ngClass]="{'is-invalid':  control.contrasena.touched && control.contrasena.errors}"/>
              <div *ngIf="control.contrasena.errors" class="invalid-feedback">
                <div *ngIf="control.contrasena.errors.required">Se require la contraseña</div>
              </div>
            </div>
            <div class="col">
              <label for="inputPassword" >Contraseña</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required style="border-radius: 20px" formControlName="contrasenaConfirmar" [ngClass]="{'is-invalid':  control.contrasenaConfirmar.touched && control.contrasenaConfirmar.errors}"/>
              <div *ngIf="control.contrasenaConfirmar.errors" class="invalid-feedback">
                <div *ngIf="control.contrasenaConfirmar.errors.required">Se require la confirmacion de la contraseña</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row d-flex justify-content-end">
            <button matStepperNext class="btn btn-outline-dark" style="width: 180px">
              Siguiente <span  class="icon-arrow-right1"></span>
            </button>
          </div>
        </mat-step>
        <mat-step  >
          <ng-template matStepLabel>Informacion domicilio</ng-template>
          <div style="min-height: 412px">
            <div>
              <label for="LblDireccion">Dirección</label>
              <input type="text" id="LblDireccion" class="form-control" style="border-radius: 20px" placeholder="Direcion"formControlName="direccion" [ngClass]="{'is-invalid':  control.direccion.touched && control.direccion.errors}"/>
              <div *ngIf="control.direccion.errors" class="invalid-feedback">
                <div *ngIf="control.direccion.errors.required">Se require la direccion</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="LblTelefono">Telefono fijo o Movil</label>
                <input type="text" id="LblTelefono" class="form-control"formControlName="telefono" style="border-radius: 20px" [ngClass]="{'is-invalid':  control.telefono.touched && control.telefono.errors}"/>
                <div *ngIf="control.telefono.errors" class="invalid-feedback">
                  <div *ngIf="control.telefono.errors.required">Se require el telefono</div>
                </div>
              </div>
              <div class="col">
                <label>Numero Whatsapp</label>
                <input type="text"  name="Whatsapp"  class="form-control"formControlName="whatsapp" style="border-radius: 20px" [ngClass]="{'is-invalid':  control.whatsapp.touched && control.whatsapp.errors}"/>
                <div *ngIf="control.whatsapp.errors" class="invalid-feedback">
                  <div *ngIf="control.whatsapp.errors.required">Se require el whatsapp</div>
                </div>
              </div>
            </div>
            <div>
              <label for="SlcHorario">Horario de entrega</label>
              <select name="SlcHorario"  class="form-control" id="SlcHorario"formControlName="horario" style="border-radius: 20px" [ngClass]="{'is-invalid':  control.horario.touched && control.horario.errors}">
                <option value="H1">8:00 AM / 6:00 PM</option>
                <option value="H2">8:00 AM / 12:00 PM</option>
                <option value="H2">12:00 PM / 6:00 PM</option>
              </select>
              <div *ngIf="control.horario.errors" class="invalid-feedback">
                <div *ngIf="control.horario.errors.required">Se require el horario de entrega</div>
              </div>
            </div>
            <div class="custom-control custom-checkbox checkbox">
              <input type="checkbox" class="custom-control-input check" id="customControlInline" style="border-radius: 20px" formControlName="check" >
              <label class="custom-control-label" for="customControlInline">
                Acepto terminos y condiciones
              </label>
            </div>
            <br>
            <div class="d-flex justify-content-between p-2">
              <button matStepperPrevious class="btn btn-outline-danger" style="width: 140px">
                <span class="icon-arrow-left1"></span>Volver
              </button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
        <hr>
        <div class="col d-flex justify-content-center">
            <button class="btn btn-outline-dark" style="width: 50%" type="submit" (click)="onSubmit()"
            [disabled]="formularioRegistro.invalid">
            <span class="fas fa-sign-in-alt"></span>Registrar
            </button>
        </div>
        <hr style="visibility: hidden;">
    </form>
</div>
